# Global Environment Variables
ENVIRONMENT=development
SECRET_KEY=supersecretjwtkey_change_in_production_peoplepay360
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=peoplepay360

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0

# Microservice Endpoints
HR_SERVICE_URL=http://hr-service:8001
ATTENDANCE_SERVICE_URL=http://attendance-timeoff-service:8002
PAYROLL_SERVICE_URL=http://payroll-service:8003
GATEWAY_SERVICE_URL=http://api-gateway:8000

# Azure Blob Storage / Azurite Emulator
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;
AZURE_CONTAINER_NAME=payslips

# SMTP / Mail Settings
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=noreply@peoplepay360.internal
