DATABASE_URL=postgresql+asyncpg://<user>:<password>@<neon-host>/<dbname>?ssl=require
DB_SCHEMA=public
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=supersecretjwtkey_change_in_production_Pexo
ALGORITHM=HS256
HR_SERVICE_URL=http://localhost:8001
ATTENDANCE_SERVICE_URL=http://localhost:8002
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;
AZURE_CONTAINER_NAME=payslips
