DATABASE_URL=postgresql+asyncpg://<user>:<password>@<neon-host>/<dbname>?ssl=require
DB_SCHEMA=public
SECRET_KEY=supersecretjwtkey_change_in_production_Pexo
ALGORITHM=HS256
HR_SERVICE_URL=http://localhost:8001
